name: 'CI'
on: [push, pull_request]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
    - name: 'Set up Python'
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: 'Set up Poetry'
      uses: snok/install-poetry@v1
    - name: 'Install dependencies'
      run: poetry install --no-interaction --no-root
    - name: 'Install PyTorch'
      run: poetry run poe torch-linux_win-cuda102
    - name: 'Install PyTorch Geometric'
      run: poetry run poe pyg-linux_win-cuda102
    - name: 'Run unit-tests'
      run: poetry run pytest